#Icons {
    margin: auto;
    width:fit-content;
    padding-top: 5vh
}

#MainQuote {
    padding: 30vh 30vh 35vh 30vh;
    font-size: 30px;
    color: navy;
    border: black;

}

#subquote {
    font-size: 24px;
    padding-bottom: 30vh;
}

#skillsButton{

    font-weight:300;
    background: none;
    padding: 0px;
    border:black;
    color:black;
}
#skillsButton:hover{

}

#backButton{
    font-size: calc(1vw + 1vh);
    font-weight:300;
    background: none;
    padding: 0px;
    color:black;
}

#backButton:hover{
}