.Menubar-MainMenu{
    padding-top: 0vh;
    padding-left: 0vh;
    padding-right: 0vh;
    display: inline;


}


.Menubar-MenuOptions{
    float:right;
    padding-top: 3vh;
    padding-right: 3vh;


}
.Menubar-Name{
    float:left;
    padding-top: 3vh;
    padding-left: 3vh;

}