
.react-pdf__Page__canvas{
    padding-top: 3vh;
    width: 70% ! important;
    height: 70% ! important;
    text-align:left ! important;
    margin: 0 auto 3em ! important;
}

#DownloadButton {
    padding-bottom: 5vh;


}

#Loader{
    padding-top:10%;
}